.hidden {
    display: none;
}

.invalidInput {
    border: red 2px solid;
}

[data-errorMessage] {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

body {
    background: steelblue;
    color: #fff;
}

form {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 2% 0;
}

label {
    font-size: 20px;
    letter-spacing: 1px;
}

form input {
    padding: 2px 2px 2px;
    font-size: 16px;
    border: 0;
    color: #444;
    max-width: 100px;
}

form button {
    font-size: 16px;
}
.hint {
    margin-top: 70px;
    margin-bottom: 10px;
}

/* Tooltip Styles */
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 3);
    padding:  5px 12px;
    border-radius: 100%;
    font-size: 20px;
    cursor: help;
}

.tooltip::before, .tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all ease 0.3;
}

.tooltip::before {
    content: "";
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
    margin-left: -8px;
    top: -10px;
}

.tooltip::after {
    content: attr(data-tooltip);
    background: rgba(0, 0, 0, 0.3);
    top: -10px;
    font-size: 14px;
    width: 180px;
    margin-left: -25px;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    transform: translateY(-100%);
}

/* Hover effects */
.tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
}